# Custom deployments
model_deployments:
  - name: huggingface/qwen2.5-vl-3b-instruct-local
    model_name: qwen2.5-vl-3b-instruct-local
    tokenizer_name: Qwen/Qwen2.5-VL-3B-Instruct
    max_sequence_length: 32768
    client_spec:
      class_name: "helm.clients.huggingface_client.HuggingFaceClient"
      args:
        pretrained_model_name_or_path: "../train/local_models/qwen2.5-vl-3b-instruct"
        trust_remote_code: true
        device_map: auto
        load_in_8bit: true
  - name: huggingface/qwen2.5-vl-3b-instruct-ft-05
    model_name: qwen2.5-vl-3b-instruct-ft-05
    tokenizer_name: Qwen/Qwen2.5-VL-3B-Instruct
    max_sequence_length: 32768
    client_spec:
      class_name: "helm.clients.huggingface_client.HuggingFaceClient"
      args:
        pretrained_model_name_or_path: "../train/local_models/qwen2.5-vl-3b-instruct-ft-05"
        trust_remote_code: true
        device_map: auto
        load_in_8bit: true
  - name: huggingface/qwen2.5-vl-3b-instruct-ft-10
    model_name: qwen2.5-vl-3b-instruct-ft-10
    tokenizer_name: Qwen/Qwen2.5-VL-3B-Instruct
    max_sequence_length: 32768
    client_spec:
      class_name: "helm.clients.huggingface_client.HuggingFaceClient"
      args:
        pretrained_model_name_or_path: "../train/local_models/qwen2.5-vl-3b-instruct-ft-10"
        trust_remote_code: true
        device_map: auto
        load_in_8bit: true
  - name: huggingface/qwen2.5-vl-3b-instruct-ft-25
    model_name: qwen2.5-vl-3b-instruct-ft-25
    tokenizer_name: Qwen/Qwen2.5-VL-3B-Instruct
    max_sequence_length: 32768
    client_spec:
      class_name: "helm.clients.huggingface_client.HuggingFaceClient"
      args:
        pretrained_model_name_or_path: "../train/local_models/qwen2.5-vl-3b-instruct-ft-25"
        trust_remote_code: true
        device_map: auto
        load_in_8bit: true
  - name: huggingface/qwen2.5-vl-3b-instruct-ft-50
    model_name: qwen2.5-vl-3b-instruct-ft-50
    tokenizer_name: Qwen/Qwen2.5-VL-3B-Instruct
    max_sequence_length: 32768
    client_spec:
      class_name: "helm.clients.huggingface_client.HuggingFaceClient"
      args:
        pretrained_model_name_or_path: "../train/local_models/qwen2.5-vl-3b-instruct-ft-50"
        trust_remote_code: true
        device_map: auto
        load_in_8bit: true
